{% extends "main.html" %}
{% load static %}
{% block content %}
    <main>
        <!-- Trending Area Start -->
        <div class="trending-area fix">
            <div class="container">
                <div class="trending-main">
                    <!--=================== Hot Animated News Tittle =================-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="trending-tittle">
                                <strong>Trending now</strong>
                                <div class="hwrap">
                                    <div class="hmove">
                                        {% for news in hot_news %}
                                            <div class="hitem">{{ news.title }}</div>
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================== -->
                    <div class="row">
                        <div class="col-lg-8">
                            <!--======================= Trending Top =========================-->
                            {% for top in trend_top %}
                                <div class="trending-top mb-30">
                                    <div class="trend-top-img">
                                        <img src="../static/img/{{top.image}}" alt="">
                                        <div class="trend-top-cap">
                                            <span>{{top.category}}}</span>
                                            <h2><a href="{% url 'details' %}">{{top.title}}</a></h2>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!--======================= Trending Bottom =========================-->
                            <div class="trending-bottom">
                                <div class="row">
                                    {% for bottom in trend_bottom %}
                                        <div class="col-lg-4">
                                            <div class="single-bottom mb-35">
                                                <div class="trend-bottom-img mb-30">
                                                    <img src="../static/img/{{bottom.image}}" alt="">
                                                </div>
                                                <div class="trend-bottom-cap">
                                                    <span class="color1">{{bottom.category}}</span>
                                                    <h4><a href="{% url 'details' %}">{{bottom.title}}</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- =============================================== -->
                                </div>
                                
                            </div>
                        </div>
                        <!--================== Riht content ====================-->
                        <div class="col-lg-4">
                            {% for right in trend_right %}
                                <div class="trand-right-single d-flex">
                                    <div class="trand-right-img">
                                        <img src="../static/img/{{right.image}}" alt="">
                                    </div>
                                    <div class="trand-right-cap">
                                        <span class="color1">{{right.category}}</span>
                                        <h4><a href="{% url 'details' %}">{{right.title}}</a></h4>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======================= - Trending Area End - ======================== -->

        <!--======================== - Weekly-News start - =========================-->
<!--   Weekly-News start -->
    <div class="weekly-news-area pt-50">
        <div class="container">
           <div class="weekly-wrapper">
                <!-- section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-30">
                            <h3>Weekly Top News</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="weekly-news-active dot-style d-flex dot-style">
                            {% for topnews in top_news %}
                            <div class="weekly-single">
                                <div class="weekly-img">
                                    <img src="../static/img/{{topnews.image}}" alt="">
                                </div>
                                <div class="weekly-caption">
                                    <span class="color1">{{topnews.category}}</span>
                                    <h4><a href="#">{{topnews.title}}</a></h4>
                                </div>
                            </div> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>           
    <!--================================ End Weekly-News ==============================-->

        <!--================================ Whats New Start =================================-->
        <section class="whats-news-area pt-50 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row d-flex justify-content-between">
                            <div class="col-lg-3 col-md-3">
                                <div class="section-tittle mb-30">
                                    <h3>Whats New</h3>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="properties__button">
                                    <!--============= Nav Button ===============-->
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Lifestyle</a>
                                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Travel</a>
                                            <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">Fashion</a>
                                            <a class="nav-item nav-link" id="nav-Sports" data-toggle="tab" href="#nav-nav-Sport" role="tab" aria-controls="nav-contact" aria-selected="false">Sports</a>
                                            <a class="nav-item nav-link" id="nav-technology" data-toggle="tab" href="#nav-techno" role="tab" aria-controls="nav-contact" aria-selected="false">Technology</a>
                                        </div>
                                    </nav>
                                    <!--============ End Nav Button ===============-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!--=================== Nav Card =========================-->
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="whats-news-caption">
                                            <div class="row">
                                                {% for card in cards %}
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="single-what-news mb-100">
                                                            <div class="what-img">
                                                                <img src="../static/img/{{card.image}}" alt="">
                                                            </div>
                                                            <div class="what-cap">
                                                                <span class="color1">{{ card.category }}</span>
                                                                <h4><a href="#">{{ card.title }}</a></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--======================= End Nav Card ===========================-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!--=============== Follow Section Tittle =====================-->
                        <div class="section-tittle mb-40">
                            <h3>Follow Us</h3>
                        </div>
                        <!--================= Flow Socail =================-->
                        <div class="single-follow mb-45">
                            <div class="single-box">
                                {% for follows in followers %}
                                    <div class="follow-us d-flex align-items-center">
                                        <div class="follow-social">
                                            <a href="#"><img src="{% static 'img/news/icon-fb.png' %}" alt=""></a>
                                        </div>
                                        <div class="follow-count">
                                            <span>{{ follows.facebook }}</span>
                                            <p>Fans</p>
                                        </div>
                                    </div>
                                    <div class="follow-us d-flex align-items-center">
                                        <div class="follow-social">
                                            <a href="#"><img src="{% static 'img/news/icon-tw.png' %}" alt=""></a>
                                        </div>
                                        <div class="follow-count">
                                            <span>{{ follows.twitter }}</span>
                                            <p>Fans</p>
                                        </div>
                                    </div>
                                    <div class="follow-us d-flex align-items-center">
                                        <div class="follow-social">
                                            <a href="#"><img src="{% static 'img/news/icon-ins.png' %}" alt=""></a>
                                        </div>
                                        <div class="follow-count">
                                            <span>{{ follows.instagram }}</span>
                                            <p>Fans</p>
                                        </div>
                                    </div>
                                    <div class="follow-us d-flex align-items-center">
                                        <div class="follow-social">
                                            <a href="#"><img src="{% static 'img/news/icon-yo.png' %}" alt=""></a>
                                        </div>
                                        <div class="follow-count">
                                            <span>{{ follows.youtube }}</span>
                                            <p>Fans</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--============= Banner ===========-->
                        <div class="news-poster d-none d-lg-block">
                            {% for poster in posters %}
                                <img src="../static/img/{{ poster.image }}" alt="">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==================== Whats New End =========================-->


        <!--====================== Weekly2-News start =======================-->
        <div class="weekly2-news-area  weekly2-pading gray-bg">
            <div class="container">
                <div class="weekly2-wrapper">
                    <!-- section Tittle -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-tittle mb-30">
                                <h3>Weekly Top News</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="weekly-news-active dot-style d-flex dot-style">
                                {% for topnews2 in top_news2 %}
                                <div class="weekly2-single">
                                    <div class="weekly2-img">
                                        <img src="../static/img/{{topnews2.image}}" alt="">
                                    </div>
                                    <div class="weekly2-caption">
                                        <span class="color1">{{topnews2.category}}</span>
                                        <p>{{topnews2.date}}</p>
                                        <h4><a href="#">{{topnews2.title}}</a></h4>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Weekly-News -->
        <!--============================== Start youtube =================================-->
        <div class="youtube-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="video-items-active">
                            {% for act_video in act_videos %}
                                <div class="video-items text-center">
                                    <iframe src="{{ act_video.source }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="video-info">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="video-caption">
                                <div class="top-caption">
                                    <span class="color1">Lifestyle</span>
                                </div>
                                <div class="bottom-caption">
                                    <h2>Telegramda 1 million obunachisi bor, 3D Max orqali uyquda ham daromad qiladigan IT tadbirkor</h2>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis recusandae, labore qui minima in eum repellat libero nam voluptate? Non architecto distinctio, veniam fugit veritatis vero, ducimus rem quis aliquam nihil nobis, incidunt ut. Numquam veritatis ad eveniet sequi fugiat?</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="testmonial-nav text-center">
                                {% for act_video in act_videos %}
                                    <div class="single-video">
                                        <iframe  src="{{ act_video.source }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        <div class="video-intro">
                                            <h4>{{ act_video.title }}</h4>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============================== End youtube =================================-->

        <!--============================== Recent Articles start ==============================-->
        <div class="recent-articles">
            <div class="container">
                <div class="recent-wrapper">
                    <!-- section Tittle -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-tittle mb-30">
                                <h3>Recent Articles</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="recent-active dot-style d-flex dot-style">
                                {% for recent in recent_articles %}
                                <div class="single-recent mb-100">
                                    <div class="what-img">
                                        <img src="../static/img/{{recent.image}}" alt="">
                                    </div>
                                    <div class="what-cap">
                                        <span class="color1">{{recent.category}}</span>
                                        <h4><a href="#">{{recent.title}}</a></h4>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============================= Recent Articles End ============================-->


        <!--============================= Start pagination =============================-->
        <div class="pagination-area pb-45 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-wrap d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow roted"></span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow right-arrow"></span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End pagination  -->
    </main>
{% endblock content %}